body {
    height: 100%;
    width: 100%;
}

/* #box {
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 1s;
} */

#box {
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    position: absolute;
    animation-name: myanimation_tutorial;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards; 
    /* animation-fill-mode: backwards; This will make the animation go back to its original state after it ends */
    /* animation-fill-mode: both; This will make the animation go back to its original state after it ends and also apply the styles at the end of the animation */

    /* animation-iteration-count: infinite; */
    /* animation-iteration-count: 3; This will make the animation run 3 times */
    /* animation-iteration-count: infinite; This will make the animation run infinitely */
}

/* @keyframes move {
     from {
        left: 0;
     }
     to{
        left: 60%;
     }
} */

/* @keyframes myanimation_tutorial{
    from {
        left: 0;
        background-color: lightseagreen;
        top: 0;
    }
    to {
        left: 70%;
        background-color: salmon;
        top: 60%;
    }
} */



@keyframes myanimation_tutorial {
    0% {
        left: 0;
        background-color: lightseagreen;
        top: 0;
        rotate: 0deg;
    }

    50% {
        left: 65%;
        background-color: lightgreen;
        top: 0;
        rotate: 360deg;
    }

    100% {
        left: 65%;
        background-color: salmon;
        top: 50%;
        rotate: 360deg;
    }
}