body {
    height: 100%;
    width: 100%;
}

/* #box {
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 1s;
} */

#box {
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    position: absolute;
    animation-name: myanimation_tutorial;
    animation-duration: 2s;
    animation-delay: 1s;
}

/* @keyframes move {
     from {
        left: 0;
     }
     to{
        left: 60%;
     }
} */

/* @keyframes myanimation_tutorial{
    from {
        left: 0;
        background-color: lightseagreen;
        top: 0;
    }
    to {
        left: 70%;
        background-color: salmon;
        top: 60%;
    }
} */



@keyframes myanimation_tutorial {
    0% {
        left: 0;
        background-color: lightseagreen;
        top: 0;
    }

    50% {
        left: 65%;
        background-color: lightgreen;
        top: 0;
        rotate: 360deg;
    }

    100% {
        left: 65%;
        background-color: lightseagreen;
        top: 50%;
        rotate: 360deg;
    }
}